<html>
<head>
  <title>Registration Form</title>
</head>
<body>
  <h1>Enter a Valid(Any) Email!</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action='/process' method='POST'>
    Email:<input type="text" name="email">
    First Name:<input type="text" name="fname">
    Last Name:<input type="text" name="lname">
    Password:<input type="password" name="password">
    Confirm Password:<input type="password" name="conf_password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>